
@{
    ViewData["Title"] = "ConfirmOrder";
}

<h1 class="text-center bg-success text-light p-4 mt-2" >We Received Your  Order.</h1>
<h3 class="text-center bg-success-subtle text-dark p-4">আমরা আপনার অর্ডার পেয়েছি। অনুগ্রহ করে আমাদের কিছু সময় দিন। আপনার পণ্য শীঘ্রই আপনার কাছে পৌঁছে দেওয়া হবে। ধন্যবাদ</h3>

